
.container-home{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.glyphicon{
    margin-right: 10px;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

#us, #pw {
    color: #f5f5f5;
    font-size: larger;
}

#username, #password {
    color: #FFFFFF;
}