<div class="container content" style="margin-top: 50px;">
    <div class="row">
        <div class="page-header">
            <h4><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Patient Forms</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well bs-component">
                <form class="form-horizontal" role="form" ng-submit="addPatient()">
                    <fieldset>
                        <legend><i class="fa fa-file-text-o"></i> Basic Info</legend>
                        <div class="form-group">
                            <div class="col-sm-1">
                                <label class="control-label" for="id">ID</label>
                            </div>
                            <div class="col-sm-2">
                                <input class="form-control" id="id" type="text" ng-model="id"
                                       placeholder="Patient's ID" name="id" maxlength="4" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-1">
                                <label class="control-label" for="name">Name</label>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" id="name" type="text" ng-model="name"
                                       placeholder="Patient's name" name="name" maxlength="20" pattern="[a-zA-Z]+"
                                       required>
                            </div>
                            <div class="col-sm-1">
                                <label class="control-label" for="surname">Surname</label>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" id="surname" type="text" ng-model="surname"
                                       placeholder="Patient's surname" name="surname" maxlength="20" pattern="[a-zA-Z]+"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-1">
                                <label class="control-label" for="telephone_num">Tel no</label>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" id="telephone_num" type="tel" maxlength="10"
                                       ng-model="telephone_num" placeholder="Patient's tel no." name="telephone_num"
                                       pattern="[0-9]+" required>
                            </div>
                            <div class="col-sm-1">
                                <label class="control-label" for="sex">Sex</label>
                            </div>
                            <div class="col-sm-5">
                                <select class="form-control" id="sex" ng-options="s for s in sex"
                                        ng-model="selectedItem"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-1">
                                <label class="control-label" for="congi_disease">Disease</label>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" id="congi_disease" type="text" ng-model="congi_disease"
                                       placeholder="Patient's congi disease" name="congi_disease" pattern="[a-zA-Z ]+"
                                       required>
                            </div>
                            <div class="col-sm-1">
                                <label class="control-label" for="age">Age</label>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" id="age" type="number" min="0" max="100" ng-model="age"
                                       placeholder="Patient's age" name="age" pattern="[0-9]+" required>
                            </div>
                        </div>
                        <legend><i class="fa fa-heartbeat"></i> Heart rate</legend>
                        <div class="form-group">
                            <div class="col-sm-1">
                                <label class="control-label" for="age">Min</label>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" id="minHR" type="number" ng-model="minHR"
                                       min="40" max="200" placeholder="Minimum of normal heart rate" name="minHR"
                                       required>
                            </div>
                            <div class="col-sm-1">
                                <label class="control-label" for="maxHR">Max</label>
                            </div>
                            <div class="col-sm-5">
                                <input class="form-control" id="maxHR" type="number" ng-model="maxHR"
                                       min="40" max="300" placeholder="Maximum of normal heart rate" name="maxHR"
                                       required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input class="btn btn-primary center-block" value="Add to patient list" name="submit"
                                   type="submit">
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>