<!--<img src="img/Logo.jpg" class="center-block img-thumbnail" style="margin-top: 56px">-->

<div class="container content" style="margin-top: 50px;">
    <div class="row">
        <div class="page-header">
            <h3><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Patient's status</h3>
        </div>
        <p class="lead">This page will show basic information of all patients </p>

        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-info"></i> Basic Information
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                        <th>Patient_id</th>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Sex</th>
                        <th>Age</th>
                        <th>Pulse rate</th>
                        <th>Timestamp</th>
                        <th>Action</th>

                        </thead>
                        <tbody>
                        <div class="row">
                            <div class="center-block">
                                <div class="col-xs-3 col-lg-2 col-md-2">
                                    <label for="search">Search:</label>
                                    <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                                </div>
                                <div class="col-xs-3 col-lg-2 col-md-2">
                                    <label for="search">items per page:</label>
                                    <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                                </div>

                            </div>
                        </div>
                        <tr dir-paginate="patient in patients | filter: q | itemsPerPage: pageSize"
                            current-page="currentPage"
                            pagination-id="patient-page">
                            <td>{{patient.patient_id}}</td>
                            <td>{{patient.name}}</td>
                            <td>{{patient.surname}}</td>
                            <td>{{patient.sex}}</td>
                            <td>{{patient.age}}</td>
                            <td>
                                {{patient.ownPatientstatus[patient.ownPatientstatus.length-1].pulse_rate}}
                            </td>
                            <td>
                                {{patient.ownPatientstatus[patient.ownPatientstatus.length-1].timestamp}}
                            </td>
                            <td>
                                <div class="buttons" ng-show="!rowform.$visible">
                                    <button class="btn btn-sm btn-primary"
                                            ui-sref="graph({patientID: patient.patient_id})"><i
                                            class="fa fa-line-chart"></i> Graph
                                    </button>
                                    <button class="btn btn-sm btn-success"
                                            ui-sref="history({patientID: patient.patient_id})"><i
                                            class="fa fa-history"></i> History
                                    </button>
                                </div>
                            </td>
                            <!--<td><a href="http://webserv.kmitl.ac.th/arnonkee127/mornitoring_page.php">graph</a><a href="http://webserv.kmitl.ac.th/arnonkee127/mornitoring_page.php">history</a></td>-->
                        </tr>
                        </tbody>

                    </table>
                </div>
                <div class="panel-footer text-center">
                    <div class="row">
                        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)"
                                                 pagination-id="patient-page"
                                                 template-url="library/js/dirPagination.tpl.html">

                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>