<div class="container content" style="padding-top: 100px;">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Add doctor
                </div>
                <div class="panel-body">
                    <div class="container-home">
                        <form class="form-horizontal" ng-submit="addDoctor()">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input class="form-control" id="username" type="text" ng-model="username"
                                       placeholder="Username" name="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input class="form-control" id="password" type="password" ng-model="password"
                                       placeholder="Password" name="password">
                            </div>
                            <div class="form-group">
                                <label for="status">Status</label>
                                <select class="form-control" id="status" ng-options="s for s in status"
                                        ng-model="selectedItem"></select>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" value="Add to doctor list" name="submit" type="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Doctor list
                </div>
                <div class="panel-body">
                    <div class="container-home">
                        <table class="table table-striped">
                            <thead>
                                <th>Username</th>
                                <th>Password</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in users">
                                    <td>{{ user.user_name }}</td>
                                    <td>{{ user.user_pass }}</td>
                                    <td>{{ user.status }}</td>
                                    <td><button class="btn btn-danger" ng-click="removeUser($index)">Delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
